<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://0.0.0.0:8080/#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://0.0.0.0:8080/home#">Home</a></li>
        <li class="active"><a href="https://github.com/zishuijingw/ResumeClassifier">Github</a></li>
        <li class="active"><a href="#">Q&A</a></li>
      </ul>
    </div>
</nav>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <li>upload file to get recommendations</li>
        <li>upload file to get recommendations</li>
        <li>upload file to get recommendations</li>
      </div>
      <br>
    </nav>

    <!-- Main -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h3 class="mb-5">Resume Recommendations</h3>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <div class="form-row">
                <div class="col-12 col-md-3">
                  <div class= "buttons center">


                    <form action='/recommendations', method="post">
                        <textarea rows=10 cols=100 name="user_input_test"> 待填充</textarea>
                        <button type="submit" class="move-button" style= "width: 32vw;">Submit</button>

                        <br>
                        <table>
                            
                        </table>
                        </br>
                    </form>

                  </div>
                </div>
          </div>
        </div>
      </div>
    </header>

  </body>

</html>
